:root {
  --background: #f1f6f5;
  --headingColor: #82c3ec;
  --headShadow: #4b56d2;
  --drumColor: #472183;
}
body {
  text-align: center;
  background-color: var(--background);
}

h1 {
  font-size: 5rem;
  color: var(--headingColor);
  font-family: 'Arvo', cursive;
  text-shadow: 3px 0 5px var(--headShadow);
}

footer {
  color: black;
  font-family: sans-serif;
}

.w {
  background-image: url('./images/tom1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.a {
  background-image: url('./images/tom2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.s {
  background-image: url('./images/tom3.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.d {
  background-image: url('./images/tom4.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.i {
  background-image: url('./images/hi-hat.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
}
.j {
  background-image: url('./images/crash.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.k {
  background-image: url('./images/kick.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.l {
  background-image: url('./images/snare.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  /* color: #da0463; */
  color: var(--drumColor);
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
